/* general */
.h2{
    font-family: arial;
    font-weight: bold;
}
p{
    font-family: arial;
}
html {
    scroll-behavior: smooth;
}
body {
    color: rgb(14, 14, 14);
    background-color: white;
    font: 1em "Open Sans", sans-serif;
}



/* header */
div nav li a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
div nav li a:hover{
    color: blueviolet;
}
.list{
    margin-right: 350px;
}
.infoo{
    width: 30px;
    background-color: grey;
    padding: 0px 0 0 15px;
    border-radius:5px 0 0 5px;
}
header nav ul li {
    display: inline-block;/* pour suprimer les point  */
    font-size: 30px;
    box-shadow: 2px 2px 2Px 2px rgba(0, 0, 0, 0.2);
    padding: 4px 4px 4px 4Px;
    background-color: blue;
    border-radius: 3px;
    font-family: italic;
}
/*i{
    width: 30px;
    background-color: rgb(212, 209, 209);
    border-radius: 2px;
    font-size: 20px;
}*/
#marseille{
    font-weight: bold;
    color: black;
    font-size: 20px;
}
.exclamation{
    width: 30px;
    background-color: whitesmoke;
    color: blue;
}
.btn{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 2px;
}
button{
    border-radius: 28px;
    border: 4px solid grey;
    background-color: white;    
    font-size: 30px;
    margin: 15px;
    padding:0;
    
}

button div{
    color: blue;
    width: 50px;
    background-color: aqua;
    border-radius: 50%;
}
.parag{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.parag i {
    color: whitesmoke;
    background-color: blue;
    border-radius: 50%;
    border: 1px solid grey;
    font-size: 30px;
}
.parag i:hover{
    color: blueviolet;
}
ul i{
    width: 40px;
}
.fil{
    margin-top: 40px;
    font-size: 30px;
}
header{
    /*background-color: rgb(246, 242, 236);*/
    width: 100%;
    padding-left: 16px;
}
/*head{
    width: 1000px;
    height: 100px;
    background-color: rgb(219, 215, 207);
}*/
.logo{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    height: 100px;
    background-color: rgb(164, 234, 234);
    
}

/* fin de header*/


/* body */ 

.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
img:hover{
    transform: scale(1.7);
    transition: 1s;
}
.heberg1 {
    width: 300px;
    height: 230px;
    background-color: white;
    margin: 15px;
    padding-left: 3px;
    border-radius: 4%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.heberg2 {
    width: 380px;
    height: 140px;
    background-color: white;
    margin: 15px;
    border-radius: 9px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.picture {
    width: 290px;
    height: 130px;
    border-radius: 15px 15px 0 0;
    margin: 6px 6px 6px 6px;
}
.picture2{
    width: 190px;
    height: 130px;
    border-radius: 15px 0 0 15px;
    margin: 6px 6px 6px 6px;
}
section h2 {
    padding: 0px 10px 0 20px;
}
.main2 h2{
    justify-content: space-between;
}
.heber1 p  {
    margin: 0 0 0 10px ;
}

.heber1 h3  {
    margin: 0 0 10px 10px ;
}
.heber1 i {
    color: blue;
}
.heberg2 em {
    font-weight: bold;
}

.heberg2 p  {
    margin: 0 0 0 10px ;
}

.heberg2 h3  {
    margin: 0 0 10px 10px ;
}
.heberg2 i {
    color: blue;
}
.etoiles {
    margin: 0 0 0 10px ;
    color: blue;
}
.column {
    flex-direction: column;
}
.main1 {
    width: 1000px;
    height:650px;
    background-color: rgb(221, 214, 214);
    border-radius: 2%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    margin-right: 15px;
}
.main2{
    width: 100%;
    height: 640px;
    background-color: rgb(221, 214, 214);
    border-radius: 2%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.afichez{
    margin: 40px 0 0 40px;
}
.pictureact1 {
    width: 280px;
    height: 350px;
    border-radius: 15px 15px 0 0;
    margin: 5px 5px 5px 5px;
}
.picture3 {
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    width: 290px;
    height: 400px;
    margin: 5px 10px 5px 10px;
}

.picture4 {
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    width: 290px;
    height: 190px;
    margin: 10px 10px 5px 10px;
}
.picture3 p {
    font-weight: bold;
    margin: 5px 5px 5px 5px;
}

.pictureact2 {
    width: 280px;
    height: 140px;
    border-radius: 15px 15px 0 0;
    margin: 5px 5px 5px 5px;
}


.picture4 p {
    font-weight: bold;
    margin: 5px 0 0 10px;
}

/* fin de la partie body */

/* footer */

footer {
    border-radius: 5px;
    background-color: rgb(219, 215, 207);
}


footer div {
    margin-bottom: 30px;
    padding-left: 10px;
}
footer a {
    text-decoration: none;
    color: black;
}
footer a:hover{
    color: blueviolet;
}
.space-around{
    justify-content: space-around;
    align-items: flex-end;
}

















.flex{
    display: flex;
}
.flex-start{
    justify-content: flex-start;
}
.flex-end{
    justify-content: flex-end;
}
.space-between{
    justify-content: space-between;
}
.flex-around{
    justify-content: space-around;
}